.svn
.DS_Store
wizard/protected/config/database.php
wizard/protected/config/ldap.php
wizard/protected/config/isites.php
wizard/protected/config/main.php
wizard/protected/config/console.php
wizard/assets/*
wizard/protected/runtime/*
wizard/protected/runtime/application.log
